@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #a58fa6;
  color: white;
  height: 100%;
  font-family: "Space Grotesk", "aria";
  overflow: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

header {
  text-align: center;
  height: fit-content;
  border-bottom: 2px solid white;
  font-size: 1.4rem;
  padding-bottom: 20px;
}

header h1 {
  padding-top: 15px;
}

.choose-game {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5%;
}

.choose-game-section {
  margin: 50px 0;
}

#chooseh2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* rock, scissors and papper img/buttons */

#rock-img {
  height: 20vh;
  width: 15vh;
  border-radius: 3px;
}

#papper-img {
  height: 20vh;
  width: 15vh;
  border-radius: 3px;
}

#scissors-img {
  height: 20vh;
  border-radius: 3px;
}

#rock-img:hover {
  outline: 1px solid white;
}

#papper-img:hover {
  outline: 1px solid white;
}

#scissors-img:hover {
  outline: 1px solid white;
}

#computer-move-img {
  height: 100px;
  width: 100px;
  margin: 10px 0 10px 6px;
  border-radius: 3px;
  
}

#move-result {
  width: 35ch;
}

.move {
  text-align: center;
  margin: 25px 0;
}

/*score section */

.score-section {
  display: flex;
  justify-content: center;
  gap: 90px;
  text-align: center;
  width: 100%;
}

.result {
  border: 2px solid white;
  height: 50px;
  width: 150px;
  padding: 10px;
  margin: 20px auto;
}


/* Footer */

footer {
  border-top: 2px solid white;
  margin-top: 2%;
  text-align: center;
  width: 100%;
  height: 200px;
  font-size: 1.3rem;

}

footer h3 {
  padding-top: 7px;
}

/* for mobile and small screens */

@media screen and (max-width: 350px) {
html {
  width: 100%;
  height: 100%;
  text-align: center;
  
}

footer {
  height: 100%;
}



}

/* for mobile with middle screens */

@media screen and (max-width: 500px) {
  html {
   
    font-size: 35%;
    min-height: 100%;
    min-width: 50%;
    overflow: hidden;
  }

  .choose-game-section {
    width: 75%;
    margin: 0 auto;
  }

  #rock-img,
  #papper-img,
  #scissors-img {
    width: 100%;
    height: 100%;
  }

  .move {
  margin: 35px auto 15px auto;
  }

  #computer-move-img {
    margin-left: 10px!important;
    width: 70px;
    height: 70px;
  }

  /*score board*/


  .score-section {
    width: 100%;
  
  }


  /* Footer */
footer {
  height: 100%;
}
}

/* for tablets */

@media screen and (max-width: 950px) {
  body {
    width: 94%;
    height: 100%;
   
    text-align: center;
  }




  /* table and computer coice image */

  #computer-move-img {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  table {
    margin-right: 10px;
    border-right: hidden;
  }

  footer {
    text-align: center;
    height: 100%;
  }
}
